<!DOCTYPE html>
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>

  <div class="container">
       <div class="row">
         
          <div class="col-lg-8 well col-lg-offset-2">
                  <div id="surveyContainer"></div>
          </div>
        </div>

  </div>

  <br/>

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="/js/jquery-1.11.3.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="https://surveyjs.azureedge.net/0.12.34/survey.jquery.min.js"></script>
<script>
$( document ).ready(function() 
  {
    console.log( 'ready!' );
    Survey.Survey.cssType = "bootstrap";

    var surveyJSON = { surveyId: 'ff5dddf2-c919-4f29-ae29-ca26156c2dff'}

    function sendDataToServer(survey) 
    {
        survey.sendResult('77be43f2-0d4d-4274-b48f-7ba26f223a77');
    }

    var survey = new Survey.Model(surveyJSON);
    $("#surveyContainer").Survey(
      {
        model: survey,
        onComplete: sendDataToServer
      }
    );
  });
</script>
</body>
</html>
